body {
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	background: repeating-radial-gradient(
	  circle,
	  #ffc7c7,
	  #ffc7c7 10px,
	  #f78686 10px,
	  #f78686 20px
	);
}
#messages {
	height: 62%;
	overflow-x: hidden;
}
.message {
	width: 99%;
	overflow: hidden;
	padding: 4px;
}
.message p {
	border: 1px solid;
	border-radius: 8px;
	padding: 10px;
	width: fit-content;
}
.message a {
	color: white;
}
.bot p {
	float: left;
	color: white;
	margin: 4px;
	background-color: #b80606;
}
.user p {
	float: right;
	color: white;
	margin: 4px;
	background-color: #000899;
}
#chat {
	min-width: 300px;
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	border: 8px solid;
	border-radius: 25px;
	padding: 7px;
	background: white;
}
#home {
	text-align: center;
	background-color: white;
	border: 8px solid;
	border-radius: 25px;
	padding: 7px;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}
#home div {
	margin: 20px;
}
#menu {
	width: 100%;
	height: fit-content;
	border-bottom: 1px solid;
}
#menu img {
	width: 45%;
	display: inline-block;
	vertical-align: middle;
	color: #b80606;
}
#menu form {
	width: 45%;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
#menu form input {
	float: right;
	vertical-align: middle;
	font-size: 200%;
	font-weight: bold;
	background-color: red;
	color: white;
	border: none;
	border-radius: 50%;
	padding: 5px;
	text-decoration: none;
}
#text {
	padding: none;
	width: 98%;
	height: 10%;
}
#text input[type=text]{
	width: 89%;
	height: 100%;
	font-size: 120%;
}
#text input[type=submit]{
	width: 9%;
	height: 100%;
	font-size: 120%;
}
#choices {

}
#choices button {
	font-size: 200%;
	width: 47%;
	padding: 5px;
	margin: 1%;
	border: 1px solid;
	border-radius: 5px;
	color: #b80606;
	background-color: white;
}
#treatment {
	white-space: pre-wrap;
	background-color: white;
	border: 8px solid;
	border-radius: 25px;
	padding: 7px;
}
#treatment h1 {
	text-decoration: bold underline;
	margin: 0;
	padding: 0;
}
#treatment p {
	margin: 0;
	padding: 0;
}
#identify {
	background-color: white;
	border: 8px solid;
	border-radius: 25px;
	padding: 7px;
}
#close {
	float: right;
	background-color: red;
	color: white;
	border-radius: 50%;
	padding: 5px;
	text-decoration: none;
	font-size: 200%;
}
.result {
	font-size: 200%;
}
