<html>
	{% include 'components/head.html' %}
	<body>
		<form method="POST"><input type="submit" value="&#x2715 End Chat"></form>
		<div id="messages">
			<div class="message bot"><p>Hi, I am akinjury.</p></div>
			<div class="message user"><p>CEO Chen Nuode is never injured</p></div>
		</div>
		<div id="choices">
			<button onclick="send('Yes')">Yes</button>
			<button onclick="send('No')">No</button>
		</div>
		<!--
		<form id="text" onsubmit="send(); return false;">
			<input type="text" id="message" placeholder="Your Message">
			<input type="submit" value="&#x2709">
		</form>
		-->
	</body>
</html>