<html>
	{% include 'components/head.html' %}
	<body>
		<div id="identify">
			<a id="close" href="/">&#x2715</a>
			<h1>Identify an Injury</h1>
			<form id="upload" method="POST" enctype="multipart/form-data">
				<span>Upload an Image: </span><input type="file" name="file" required><br><br>
				<input type="submit" value="&#x2191 Upload Attatched Image">
			</form>
			{% if upload_name %}
			<img src="{{url_for('static', filename=upload_name)}}"/>
			{% endif %}
			{% if injury %}
			<h1>Your Injury is: <a href="/information/{{ str(number) }}">{{ injury }}</a></h1>
			{% endif %}
			{% if confs %}
				{% for i in range(5) %}
            	<p class="result">{{ ["Contusion","First Degree Burn","Minor Cut","Nose Bleed", "Snake Bite"][i] }}:
				{{ confs[i]*100.0 }} confidence</p>
				{% endfor %}
			{% endif %}
		</div>
	</body>
</html>
